<div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="90%" fxFlex.gt-md="800px">

        <form class="mt-60" #clientesFrm="ngForm">

            <mat-card>

                <mat-card-header>
                    <mat-card-title>Dados pessoais</mat-card-title>
                </mat-card-header>

                <mat-card-content class="mt-20">

                    <div fxLayout="column" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>Nome *</mat-label>
                            <input matInput 
                                   type="text" 
                                   [(ngModel)]="cliente.nome"
                                   name="nome" 
                                   placeholder="Ex: Breno Augusto de Oliveira">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">

                        <mat-form-field fxFlex class="full-width">
                            <mat-label>Data nascimento: *</mat-label>
                            <input matInput 
                                type="date"
                                [(ngModel)]="cliente.dataNascimento"
                                name="dataNascimento" 
                                placeholder="00/00/0000">
                        </mat-form-field>

                        <mat-form-field fxFlex class="full-width">
                            <mat-label>CPF *</mat-label>
                            <input 
                                matInput
                                type="text"
                                [(ngModel)]="cliente.cpf"
                                name="cpf" 
                                placeholder="000000000-00">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>Email *</mat-label>
                            <input matInput 
                                type="text"
                                [(ngModel)]="cliente.email"
                                name="email" 
                                placeholder="exemplo@exemplo.com">
                        </mat-form-field>
                    </div>

                </mat-card-content>
                
                <mat-card-actions
                    fxLayout="column"
                    fxLayout.gt-sm="row"
                    fxLayoutAlign="end"
                    fxLayoutGap="5px">

                    <button mat-flat-button color="primary" type="submit">
                        Salvar
                    </button>

                    <button mat-flat-button color="primary">
                        Atualizar
                    </button>

                    <button mat-flat-button color="accent">
                        Limpar
                    </button>

                </mat-card-actions>

            </mat-card>

        </form>
    </div>
</div>